
<header class="bg-[url('/images/header-bg.jpg')] bg-cover bg-end h-26 text-center text-white
 flex items-center justify-center  w-full  px-8 py-4 border-b border-white backdrop-blur-md
 ">
<div class="basis-3/6"> 
    <h1 class="font-bold text-indigo-400 text-3xl">&lt;PORTFOLIO/&gt;</h1>
  

</div>
<div class="basis-3/6 flex justify-end gap-6">
<a href="" style="text-decoration: underline; color:#b9fac9;">Home</a>
<a href="sobre.html">Sobre</a>
<a href="trabalhos.html">Meus trabalhos</a>
<a href="contato.html">contato</a>
</div>
</header>
